img.mx-auto.rounded {
    max-width: 200px;
    display: block;
}

.container.bg-light {
    max-width: 800px;
    min-width: 325px;
    padding-left: 0px;
    padding-right: 0px;
}

.bg-primary {
    background-color: #feecc4 !important;
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
}