<html>
	<head>
		{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>{% block title %}{% endblock %} - Tên website</title>
		{% endblock %}
	</head>
	<body>
    <div class="container bg-light mt-5">
      <div class="row align-items-center m-5">
        <div class="col-6 col-md-3">
          <img src="{{ url_for('static', filename='images/logo.png') }}" class="rounded" alt="logo">
        </div>
        <div class="col-6 col-md-9">
          <h1 class = "text-center">The Universe Phoenix</h1>
        </div>
      </div>
      {% block content %}{% endblock %}
    </div>
    <footer class="container-fluid text-center">
    </footer>
		
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
