{% extends "base.html" %} {% block title %}Homepage{% endblock %} {% block head
%} {{ super() }}
{% endblock %} {% block content %}
<form>
  <div class="form-row">
    <div class="form-group col-6">
      <label for="kg">Số kg:</label>
      <input type="number" min="0.0" max="999.9" step="0.1" class="form-control" id="kg" placeholder="Nhập số kg"
        name="kg" />
    </div>

    <div class="form-group col-6">
      <label for="province">Về Tỉnh/Thành Phố:</label>
      <select class="form-control" id="province" name="province">
        <option value="" disabled selected>Chọn Tỉnh/Thành Phố</option>
        {% for province in provinces %}
        <option value="{{province[1]}}">{{province[0]}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="container border border-primary rounded">
    <select id="receive_select" class="custom-select mt-2" size="3">
      <option disabled selected>Chọn chi nhánh gửi hàng</option>
      <option id="receive_bankstown" value="Bankstown">Bankstown</option>
      <option id="receive_cabramatta" value="Cabramatta">Cabramatta Station</option>
    </select>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input pickup-check" type="checkbox" value="True" id="bring-to-check" />
        <label class="form-check-label" for="defaultCheck1">
          Bạn mang đồ tới chi nhánh
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input pickup-check" type="checkbox" value="False" id="pick-up-check" />
        <label class="form-check-label" for="defaultCheck2">
          Chúng tôi đến pick up tại
          <span class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdown_suburbs"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div id="menu" class="dropdown-menu w-75" aria-labelledby="dropdown_suburbs">
              <div>
                <input type="search" class="form-control" id="searchSuburb" placeholder="nhập tên suburb"
                  autofocus="autofocus" />
              </div>
              <div id="menuItems">
                {% for suburb in suburbs %}
                <input type="button" class="dropdown-item suburb-field dist_bankstown" type="button"
                  value="{{suburb['suburb']}} ({{suburb['dist_bankstown']}} km)" />
                <input type="button" class="dropdown-item suburb-field dist_cabramatta" type="button"
                  value="{{suburb['suburb']}} ({{suburb['dist_cabrammatta']}} km)" />
                {% endfor %}
              </div>
              <div id="empty" class="dropdown-header">No coins found</div>
            </div>
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="special-item">Tổng tiền các mặt hàng giá trị:</label>
    <input type="number" min="0.0" max="999.9" step="0.1" class="form-control" id="special-item"
      placeholder="Nhập giá trị" name="special-item" />
  </div>

  <!-- <div class="form-group">
    <label for="item">Bạn có đồ giá trị cần khai báo?</label>
    <div class="container mb-2">
      <ul id="item-list" class="list-group"></ul>
    </div>
    <div class="row">
      <div class="col-md-10">
        <input type="text" class="form-control" id="item" placeholder="Nhập vào đây (nếu có)" />
      </div>
      <div class="col-md-offset-3 col-md-2 text-center">
        <input type="button" class="btn btn-secondary mt-1 mt-md-0" id="add-item" value="Thêm đồ" />
      </div>
    </div>
  </div> -->

  <div>
    <div class="form-row">
      <div class="form-group col-sm-2">
        <button type="button" class="btn btn-primary" id="submit">Tính</button>
      </div>
      <div class="form-group col-sm-10">
        <label for="total-fee">Tổng:</label>
        <input type="text" class="form-control" id="total-fee" placeholder="Tổng phí" name="plus-fee" disabled />
      </div>
    </div>
  </div>
  </div>
</form>

<!-- ====================================== -->
<!-- SCRIPTS -->
<!-- ====================================== -->

<script type="text/javascript" src="{{ url_for('static', filename='js/show_suburbs.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bring_to_check_box.js') }}"></script>

<!-- add item script -->
<!-- <script>
  $(document).ready(function () {
    $("#add-item").click(function () {
      var val = $("#item").val();
      if (val && val.trim().length > 0) {
        $("#item-list").append(
          '<li class="list-group-item">' +
          val +
          '<span class = "w-50 float-right">$<input id="special-item" class="w-75 ml-1" type="number" placeholder="giá trị"></input> <span class="close ml-1">&times;</span></span></li>'
        );
        $("#item").val("");
      }
      $("#item").focus();
    });
  });
</script> -->

<script>
  $("#item").keypress(function (event) {
    var keycode = event.keyCode ? event.keyCode : event.which;
    if (keycode == "13") {
      $("#add-item").click();
    }
    event.stopPropagation();
  });
</script>
<!-- kg input script -->
<script>
  $('#kg').keypress(function (event) {
    return isNumber(event, this)
  });

  $('#special-item').keypress(function (event) {
    return isNumber(event, this)
  });

  // THE SCRIPT THAT CHECKS IF THE KEY PRESSED IS A NUMERIC OR DECIMAL VALUE.
  function isNumber(evt, element) {
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (
      (charCode != 46 || $(element).val().indexOf('.') != -1) && // “.” CHECK DOT, AND ONLY ONE.
      (charCode < 48 || charCode > 57))
      return false;
    return true;
  }
</script>
<!-- pick up check script -->
<script>
  $(".pickup-check").click(function (e) {
    $(".pickup-check").not(this).prop("checked", false);
  });
</script>
<!-- Delete item script -->
<script>
  $(document).on("click", ".close", function () {
    $(this).closest("li").remove();
  });
</script>

<!-- Submit script -->
<script>
  $("#submit").click(function () {
    var total = 0.0;
    var kg = $("#kg").val();
    if (kg == 0) {
      alert("Hãy nhập đúng số kg!");
      return;
    }
    var province = $("#province").val();
    if (province == null) {
      alert("Hãy chọn tỉnh/thành phố!");
      return;
    }
    switch (province) {
      case "HN":
        total = 11 * kg + 4;
        if (kg >= 8)
          total += (kg - 8) * 0.3;
        break;
      case "HCM":
        total = 10 * kg + 4;
        if (kg >= 8)
          total += (kg - 8) * 0.3;
        break;
      default:
        total = 11 * kg + 8;
        if (kg >= 8)
          total += (kg - 8) * 0.5;
        break;
    }


    var btc = $('#bring-to-check').is(':checked');
    var puc = $('#pick-up-check').is(':checked');
    if (btc == false && puc == false) {
      alert("Bạn mang đồ tới?");
      return;
    }
    if (puc == true) {
      let dist = $('#dropdown_suburbs').text().match(/\d+/);
      if (dist == null) {
        alert("Hãy chọn suburb!");
        return;
      }
      total += 3;
      if (dist >= 4)
        total += 0.5 * dist;
    }

    total += 0.1 * Number($('#special-item').val());

    total = Math.round(total * 10) / 10;

    $("#total-fee").val('$' + total);
    alert("Tổng phí bạn cần trả: $" + total);
  });
</script>
{% endblock %}