{% extends "base.html" %} {% block title %}Homepage{% endblock %} {% block head
%} {{ super() }} {% endblock %} {% block content %}

<form>
	<div class="alert alert-danger" role="alert">
		Tính năng này đang được nâng cấp. Chúng tôi rất xin lỗi vì sự bất tiện này!
	</div>
	<div class="form-row">
		<div class="form-group col-md border border-success p-2 mx-1" id="sender-info">
			<label for="sender-name">Tên người gửi:</label>
			<input
				type="text"
				class="form-control"
				id="sender-name"
        placeholder="Nhập tên"
        required
			/>
			<label for="sender-phone">Số điện thoại:</label>
			<input
				type="text"
				class="form-control"
				id="sender-phone"
        placeholder="Nhập số điện thoại"
        required
			/>
			<label for="sender-address">Địa chỉ người gửi:</label>
			<textarea 
        rows="2"
				class="form-control"
				id="sender-address"
        placeholder="Nhập địa chỉ"
        required
			></textarea>  
		</div>

		<div class="form-group col-md border border-danger p-2 mx-1" id="receiver-info">
			<label for="receiver-name">Tên người nhận:</label>
			<input
				type="text"
				class="form-control"
				id="receiver-name"
        placeholder="Nhập tên"
        required
			/>
			<label for="receiver-phone">Số điện thoại:</label>
			<input
				type="text"
				class="form-control"
				id="receiver-phone"
        placeholder="Nhập số điện thoại"
        required
			/>
			<label for="receiver-address">Địa chỉ người nhận:</label>
			<textarea 
        rows="2"
				class="form-control"
				id="sender-address"
        placeholder="Nhập địa chỉ"
        required
			></textarea>  
		</div>
	</div>
{% endblock %}
